In [30]:
# Q1.write for loop to print even numbers
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [5]:
# Q2.creating a list of names and use a for loop to print each name in uppercase.
names=['Saad','Hamza','Awais','Faiz','Ahamad']
for name in names:
    print(name.upper())

SAAD
HAMZA
AWAIS
FAIZ
AHAMAD

In [8]:
# Q3.using a for loop with range() to print numbers from 10 to 1 in reverse order.
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [1]:
# Q4.iterating through a list of integers and print only the numbers that are divisible by 3.
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for num in numbers:
    if num % 3 == 0:
        print(num)

3
6
9
12
15
18

In [17]:
# Q5.writing a loop that prints the squares of numbers from 1 to 10.
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [20]:
# Q6.given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.
celsius_temps = [0, 20, 37, 100, -10]
fahrenheit_temps=[]
for c in celsius_temps:
    f = c * 9/5 + 32
    fahrenheit_temps.append(f)
    print(fahrenheit_temps)

[32.0]
[32.0, 68.0]
[32.0, 68.0, 98.6]
[32.0, 68.0, 98.6, 212.0]
[32.0, 68.0, 98.6, 212.0, 14.0]

In [31]:
# Q7.creating a for loop that prints the multiplication table of 5.
number=5
for i in range(1,11):
    result= number * i
    print(f"{number} x {i}= {result}")

5 x 1= 5
5 x 2= 10
5 x 3= 15
5 x 4= 20
5 x 5= 25
5 x 6= 30
5 x 7= 35
5 x 8= 40
5 x 9= 45
5 x 10= 50

In [26]:
# Q8. writing a program to find the sum of all numbers in a list using a for loop.
numbers=[1,2,3,4,5]
total_sum=0
for num in numbers:
    total_sum+=num
    print(f"The sum of all numbers in a list is",total_sum)

The sum of all numbers in a list is 1
The sum of all numbers in a list is 3
The sum of all numbers in a list is 6
The sum of all numbers in a list is 10
The sum of all numbers in a list is 15

In [27]:
# Q9. using a for loop to iterate through a string and print each character separately.
string= "HELLO WORLD"
#Using for loop to print each character separatly
for char in string:
    print(char)

H
E
L
L
O

W
O
R
L
D

In [29]:
# Q10. creating a list of words and use a for loop to print only the words with more than 5 letters.
cars=['Toyota', 'Honda' ,'Yamaha', 'Sazuki','Audi']
for car in cars:
    if len(car) > 5 :
        print(car)

Toyota
Yamaha
Sazuki